.App {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    position: relative;
}

#footer {
    position: absolute;
    bottom: 0;
    padding: 5px;
    border-top-right-radius: 10px;
    border: 5px solid rgba(220, 220, 220, 0.53);
    background-color: rgba(220, 220, 220, 0.53);
    font-size: 10pt;
}

#non-footer {
    padding-bottom: 3em;
}

html {height: 100%}

body {
    background-color: rgb(255, 243, 215);
    height: 100%;
}

#root {
    height: 100%;
}

.clearfloat {
    clear: both;
}

#logo {
    float: left;
    height: 80px;
}

#title {
    padding-left: 1em;
    float: left;
    font-family: 'Patua One', cursive;
    color: #1F76B4;
}

#title h1 {
    font-size: 30pt;
    font-weight: normal;
}

.App-header {
    margin-top: 2em;
    display: inline-block;
}

.InputCSV {
    float: left;
    border-radius: 10px;
    border: 10px solid #ffffff;
    background-color: #fff;
    margin: 5px;
    max-width: 600px;
}

.options {
    margin-top: 1em;
}

#top-bar {
    border-radius: 10px;
    border: 10px solid #ffffff;
    background-color: #fff;
    margin: 5px;
    display: inline-block;
    text-align: left;
    font-size: 12pt;
}
.float {
    float: left;
}

#overview {margin-top: 15px;}

#number_stats li {
    text-align: left;
}

#number_stats ul {
    margin: 0;
}

#instructions {
    margin-left: 1em;
    float: left;
    max-width: 400px;
}

#instructions p {
    margin-bottom: 0;
    margin-top: 0.5em;
}

.plot {
    float: left;
    width: 590px;
    max-height: 500px;
    border-radius: 10px;
    border: 10px solid #ffffff;
    background-color: #fff;
    margin: 5px;
}

.plot_list {
    overflow-y: auto;
}

.plot_half {
    height: 250px;
}

.section-title {
    color: #1F76B4;
    font-family: "Patua One", cursive;
    font-size: 15pt;
    padding-top: 15px;
    padding-bottom: 20px;
}

.section {
    background-color: rgb(247, 246, 255);
    border: 2px dashed #1F76B4;
    border-radius: 20px;
    margin: 5px;
}

#file_select_and_processing {
    display: flex;
    align-items: center;
}

#error {
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.error_smiley {
    width: 1.5em;
    height: 1.5em;
    padding-right: 0.5em;
}