.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.plot {
    float: left;
    max-width: 700px;
    max-height: 500px;
}

.plot_histogram {
    max-width: 500px;
    max-height: 500px;
}

.plot_scatter {
}

.plot_list {
    overflow-y: scroll;
}

table {
    border-collapse: collapse;
}

thead {
    display: table-header-group
}

th {
    padding-bottom: 1em;
    padding-right: 1em;
}

td {
    text-align: left;
    margin: 0;
}

tr.SortedTable_row_odd {
    background-color: gainsboro;
}

.clearfloat {
    clear: both;
}