.App {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgba(255, 219, 123, 0.41);
}

#logo {
    float: left;
    height: 80px;
}

#title {
    padding-left: 1em;
    float:left;
    font-family: 'Patua One', cursive;
    color: #1F76B4;
    font-size: 17pt;
}

.App-header {
    margin-top: 2em;
    display: inline-block;
}

.InputCSV {
    float: left;
    border-radius: 10px;
    border: 10px solid #ffffff;
    background-color: #fff;
    margin: 5px;
}

.options {
    margin-top: 1em;
}

#top-bar {
    border-radius: 10px;
    border: 10px solid #ffffff;
    background-color: #fff;
    margin: 5px;
    display: inline-block;
    text-align: left;
}

#overview {
    float:left;
}

#number_stats {
    float:left;
}

#number_stats li {
    text-align: left;
}

#number_stats ul {
    margin: 0;
}

#instructions {
    margin-left: 1em;
    float: left;
    max-width: 400px;
}

#instructions p {
    margin-bottom: 0;
    margin-top: 0.5em;
}

.plot {
    float: left;
    width: 600px;
    max-height: 500px;
    border-radius: 10px;
    border: 10px solid #ffffff;
    background-color: #fff;
    margin: 5px;
}

.plot_histogram {
}

.plot_scatter {
}

.plot_list {
    overflow-y: scroll;
}

table {
    border-collapse: collapse;
}

thead {
    display: table-header-group
}

th {
    padding-bottom: 1em;
    padding-left: 0.5em;
    white-space: pre-wrap;
    color: #1F76B4;
}

td {
    text-align: left;
    margin: 0;
    max-width: 200px;
}

tr.SortedTable_row_odd {
    background-color: gainsboro;
}

.clearfloat {
    clear: both;
}

a.tooltip {
    position: relative;
    text-decoration: none;
}
a.tooltip:after {
    content: attr(data-tooltip);
    position: absolute;
    top: 130%;
    left: 20%;
    background: #ffcb66;
    padding: 5px 15px;
    color: black;
    border-radius : 10px;
    white-space: nowrap;
    opacity: 0;
}
a.tooltip:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid #ffcb66;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    opacity: 0;
    left: 30%;
    bottom: 90%;
}
a.tooltip:hover:after {
    bottom: 100%;
}
a.tooltip:hover:before {
    bottom: 70%;
}
a.tooltip:hover:after, a:hover:before {
    opacity: 1;
}

.section-title {
    color: #1F76B4;
    font-family: "Patua One", cursive;
    font-size: 15pt;
}

.section {
    background-color: rgb(225, 237, 255);
    border: 2px dashed #1F76B4;
    border-radius: 20px;
    margin: 5px;
    margin-top: 20px;

}